body {
	font-family: Comic Sans MS, sans-serif;
	padding: 0;
	margin: 0;
	color: white;
font-size: 19px;
min-width: 1300px;
overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
}

}

.case {
	
	float: left;
	margin-top: 120px;
	font-size: 50px;
	margin-left: 630px;
	text-align: center;
}


.text2 {
	text-align: center;
	margin-top: 50px;
	width: 850px;
   height: 400px;

}

.black {
	text-align: center;
	
}
.text3 {
	text-align: left;
	margin-top: -160px;
	width: 850px;
   height: 400px;
}

.text {
	text-align: justify;
}
.text4 {
	text-align: left;
	margin-top: -250px;
	width: 850px;
   height: 400px;
}
.text5 {
	text-align: left;
	margin-top: -230px;
	width: 850px;
   height: 400px;
}
.text6 {
	text-align: left;
	margin-top: -300px;
	width: 850px;
   height: 400px;
}
.text7 {
	text-align: center;
	margin-top: -300px;
	
	width: 850px;
   height: 400px;
}
.text8 {
	text-align: center;
	margin-top: -240px;
	
	width: 850px;
   height: 400px;
}
.text9 {
	text-align: center;
	margin-top: -200px;
	
	width: 850px;
   height: 400px;
}
.text10 {
	text-align: center;
	margin-top: -330px;
	
	width: 850px;
   height: 400px;
}
.text11 {
	text-align: center;
	margin-top: -30px;
	
	width: 850px;
   height: 400px;
}
.text12 {
	text-align: left;
	margin-top: 10px;
	width: 850px;
   height: 400px;
}
.text13 {
	text-align: center;
	margin-top: -200px;
	width: 850px;
   height: 400px;
}

